{% extends "base.jinja2" %}

{% block content %}
<h1>Welcome to my Portfolio</h1>

<ul>
  {% for stock in stocks %}
  <li>
    <h3>{{entry.companyName}}</h3>
    <p>{{entry.website}}</p>
    <p>CEO: {{entry.CEO}}</p>
    <p><a href="{{request.route_url('detail', symbol=entry.symbol)}}">View more</a></p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}