{% extends "index.jinja2" %}

{% block content %}
<form action="{{request.route_url('stock')}}" method="GET">
  <input type="text" name="symbol" placeholder="Enter ticker">
  <button type="submit">Search</button>
</form>

{% if company %}
<div>
    {{company}}
</div>

{% endblock content %}

<-- need a button using MOCK_DATA.append() -->