{% extends "index.jinja2" %}

{% block content %}
<h1>Stock Details</h1>
<p>You're viewing a detail page for a single stock!</p>

{% if company %}
<div>
    {{company}}
</div>

{% endblock content %}

<-- need a button using MOCK_DATA.append() -->