{% extends "index.jinja2" %}

{% block content %}
<form action="{{request.route_url('stock')}}" method="GET">
  <input type="text" name="symbol" placeholder="Enter ticker">
  <button type="submit">Search</button>
</form>

{% if company %}
<div>
  <h1>{{company.companyName}}</h1>
  <p>Symbol: {{company.symbol}}</p>
  <p>{{company.website}}</p>
  <p>CEO: {{company.CEO}}</p>
  <p>Industry:{{company.industry}}</p>
  <p>Sector:{{company.sector}}</p>
  <p>Securities:{{company.issueType}}</p>
  <p>Summary:{{company.description}}</p>
</div>
<form id='hidden'action="{{request.route_url('portfolio')}}" method="POST">
  <input type="hidden" name="symbol" value="{{company.symbol}}">
  <button type="submit">Add to Portfolio</button>
</form>
{% endif %}

{% endblock content %}
